In [2]:
import pandas as pd
import numpy as np
import os
import os.path as osp
from tqdm.notebook import tqdm
import sys
sys.path.append('../../../scripts')
import preprocessing.preprocessing as preprocessing
import matplotlib.pyplot as plt
from datetime import timedelta

In [3]:
df_eth = preprocessing.load_df('../../../data/data_new/raw/Binance/ETH_USDT/ETH_USDT.csv')

Total NaN :

timestamp    0
open         0
high         0
low          0
close        0
volume       0
returns      1
dtype: int64

In [4]:
df_eth

,timestamp,open,high,low,close,volume,returns
date,,,,,,,
2018-02-09 10:00:00,1518170400000,781.66,829.86,781.66,827.02,984.20805,NaN
2018-02-09 10:01:00,1518170460000,829.86,835.00,825.00,831.33,580.06798,0.005211
2018-02-09 10:02:00,1518170520000,830.00,835.00,827.00,832.65,410.01455,0.001588
2018-02-09 10:03:00,1518170580000,832.65,836.00,832.65,835.99,223.87358,0.004011
2018-02-09 10:04:00,1518170640000,835.18,837.00,835.00,835.95,233.98375,-0.000048
...,...,...,...,...,...,...,...
2023-01-25 15:57:00,1674662220000,1543.50,1544.92,1543.25,1544.72,304.50750,0.000797
2023-01-25 15:58:00,1674662280000,1544.73,1546.18,1544.59,1544.93,414.07610,0.000136
2023-01-25 15:59:00,1674662340000,1544.93,1544.94,1543.83,1543.95,182.75910,-0.000634
2023-01-25 16:00:00,1674662400000,1543.95,1544.18,1543.39,1543.77,134.38000,-0.000117
2023-01-25 16:01:00,1674662460000,1543.78,1544.50,1543.69,1544.49,85.17230,0.000466